<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatAssist.ChatAssistConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatAssist.ChatAssistConfig>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoIgnoreSpamPM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoIgnoreSpamMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CensorSpamMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Blacklist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>LIFEPOT. ORG</string>
                        <string>RealmStock</string>
                        <string>ORYX.lN</string>
                        <string>RealmPower</string>
                        <string>RealmItems</string>
                        <string>Rea!mKings</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EnableNPCFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSpamFilter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StarFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StarFilterPM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogChat" serializeAs="String">
                <value>False</value>
            </setting>
        </ChatAssist.ChatAssistConfig>
    </userSettings>
</configuration>