<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoAbility.AutoAbilityConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoAbility.AutoAbilityConfig>
            <setting name="PaladinAutoBuff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PriestAutoHeal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PriestAutoBuff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarriorAutoBuff" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RequiredManaPercent" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="RequiredHealthPercent" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="ShowBuffNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RetryDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RogueAutoCloak" serializeAs="String">
                <value>True</value>
            </setting>
        </AutoAbility.AutoAbilityConfig>
    </userSettings>
</configuration>