<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LootHelper.LootHelperConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LootHelper.LootHelperConfig>
            <setting name="LootNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLoot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLootList" serializeAs="String">
                <value>Health Potion, Mana Potion, Potion of Life, Potion of Mana, Potion of Dex, Potion of Dexterity, Potion of Vitality, Potion of Defense, Potion of Speed, Potion of Wisdom</value>
            </setting>
            <setting name="LootQuests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationColor" serializeAs="String">
                <value>Aqua</value>
            </setting>
        </LootHelper.LootHelperConfig>
    </userSettings>
</configuration>