<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapFilter.MapFilterConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MapFilter.MapFilterConfig>
            <setting name="TileFilters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ice Slide=&gt;Gold Tile</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ObjectFilters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Blue Sprite Tree=&gt;None</string>
                        <string>White Sprite Tree=&gt;None</string>
                        <string>Green Sprite Tree=&gt;None</string>
                        <string>Red Sprite Tree=&gt;None</string>
                        <string>Purple Sprite Tree=&gt;None</string>
                        <string>Yellow Sprite Tree=&gt;None</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Enabled" serializeAs="String">
                <value>True</value>
            </setting>
        </MapFilter.MapFilterConfig>
    </userSettings>
</configuration>