<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartialGodmode.PartialGodmodeConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PartialGodmode.PartialGodmodeConfig>
            <setting name="OnByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlockPlayerHit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockSquareHit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockOtherHit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberOfHitsBeforeBlock" serializeAs="String">
                <value>5</value>
            </setting>
        </PartialGodmode.PartialGodmodeConfig>
    </userSettings>
</configuration>